# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
**/.env

# Vite / React
frontend/dist/
frontend/.vite/

# Mac system files
.DS_Store

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
